
div.cart-card{
    width:70%;
    margin: 20px;

}

.card-img{
    width: 150px;
    height: 150px;
    margin: auto auto;
  }
  
  .card-text{
      overflow:hidden;
      height: 50px;
      margin: 5px
  }
  
  .table{
    width: 70%;
    margin: 20px;
    border: 2px solid #80808030;
  }

  .product-desc{
   width: 300px;
  }
  .show-order{
    margin: 10px;
  }