.Slide-adv{
    height: 450px;
    width: 70%;
    float: right;
    margin: 20px;
    overflow: hidden;
    margin-right: 70px;
}

.carousel-indicators{
    visibility: hidden;
}
.carousel-control-prev-icon {
    display: none;
}
.carousel-control-next-icon {
    display: none;
}