.card-img-top{
  width: 150px;
  height: 150px;
  margin: auto auto;
}

.card{
    display: inline-block;
    width:300px;
    margin: 10px;
    padding: 10px;
    box-shadow: 6px 6px #f8f8f8;
    border-radius: 6px;
    text-align: center;
}

.card-text{
    overflow:hidden;
    height: 50px;
    margin: 5px
}

